.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.loginButton {
	width: 200px;
}

.spinner {
	height: 100%;
}

.tweedLogo {
	width: 60px;
}